In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import timeit
import sympy as sym
from sympy import *
from datetime import date
from datetime import time
from datetime import datetime


dataFile = pd.read_csv('stmf.csv', skiprows = 2) #save read-in csv into "df" variable

dataFile

,CountryCode,Year,Week,Sex,D0_14,D15_64,D65_74,D75_84,D85p,DTotal,R0_14,R15_64,R65_74,R75_84,R85p,RTotal,Split,SplitSex,Forecast
0,AUS2,2015,1,m,5.037600,210.962400,204.0,398.0,394.0,1212.0,0.000113,0.001395,0.010716,0.041683,0.119154,0.005326,1,0,0
1,AUS2,2015,1,f,6.758007,141.241993,154.0,323.0,676.0,1301.0,0.000160,0.000929,0.007869,0.028785,0.118644,0.005641,1,0,0
2,AUS2,2015,1,b,11.795607,352.204393,358.0,721.0,1070.0,2513.0,0.000136,0.001161,0.009273,0.034714,0.118831,0.005484,1,0,0
3,AUS2,2015,2,m,5.648218,166.351782,216.0,343.0,399.0,1130.0,0.000127,0.001100,0.011347,0.035923,0.120666,0.004966,1,0,0
4,AUS2,2015,2,f,6.983274,149.016726,147.0,290.0,646.0,1239.0,0.000166,0.000980,0.007511,0.025844,0.113378,0.005372,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102397,USA,2021,12,f,208.000000,5465.000000,4850.0,6732.0,9588.0,26843.0,0.000371,0.002674,0.014102,0.036469,0.115087,0.008346,0,0,1
102398,USA,2021,12,b,476.000000,14862.000000,11425.0,13696.0,15872.0,56331.0,0.000415,0.003637,0.017725,0.041560,0.121343,0.008889,0,0,1
102399,USA,2021,13,m,258.000000,8950.000000,6528.0,6782.0,5966.0,28484.0,0.000441,0.004383,0.021712,0.046787,0.125622,0.009127,0,0,1
102400,USA,2021,13,f,183.000000,5066.000000,4774.0,6356.0,9046.0,25425.0,0.000327,0.002479,0.013881,0.034432,0.108581,0.007905,0,0,1
102401,USA,2021,13,b,441.000000,14016.000000,11302.0,13138.0,15012.0,53909.0,0.000385,0.003430,0.017534,0.039867,0.114768,0.008507,0,0,1

In [2]:
df = dataFile.iloc[:, : 10] #Drop r values

df = df[df.Sex != 'm']  #drop male/female values
df = df[df.Sex != 'f']
df = df.drop(columns = 'Sex') #then drop sex column
convert_dict = {'CountryCode': str,
                'Year': str,
                'D0_14': int,
                'D15_64': int,
                'D65_74': int,
                'D75_84': int,
                'D85p': int,
                'DTotal': int}

df = df.astype(convert_dict) #convert columns to the data types in dictionary
df

       CountryCode  Year  Week  D0_14  D15_64  D65_74  D75_84   D85p  DTotal
2             AUS2  2015     1     11     352     358     721   1070    2513
5             AUS2  2015     2     12     315     363     633   1045    2369
8             AUS2  2015     3      8     305     379     640   1035    2368
11            AUS2  2015     4      9     298     366     666   1015    2355
14            AUS2  2015     5      9     302     346     596   1016    2270
...            ...   ...   ...    ...     ...     ...     ...    ...     ...
102389         USA  2021     9    459   15605   12591   14811  16875   60341
102392         USA  2021    10    454   15028   12122   14222  16557   58383
102395         USA  2021    11    463   14774   11641   13690  15964   56532
102398         USA  2021    12    476   14862   11425   13696  15872   56331
102401         USA  2021    13    441   14016   11302   13138  15012   53909

[34134 rows x 9 columns]

In [3]:
dfUSA2020 = df[
    (df['CountryCode'] == 'USA') #query for deaths in 2020-2021
    & (df["Year"].isin(['2020']))
]

dfUSA2020 = dfUSA2020.set_index('Week')

dfUSA2020 = dfUSA2020.drop(columns = ['CountryCode', 'Year'])

dfUSA2020

      D0_14  D15_64  D65_74  D75_84   D85p  DTotal
Week
1       583   14858   11788   14544  18389   60162
2       588   14624   12091   14723  18697   60723
3       589   14406   11750   14262  18342   59349
4       589   14298   11794   14403  18066   59150
5       573   14203   11670   14145  18226   58817
6       624   14547   11635   14445  18209   59460
7       588   14259   11631   14359  17959   58796
8       537   14337   11582   14341  18093   58890
9       618   14500   11717   14440  18036   59311
10      544   14657   11800   14557  18124   59682
11      547   14335   11737   14174  17869   58662
12      576   14514   11796   14633  17679   59198
13      531   15346   12236   15559  19331   63003
14      499   17659   14410   17760  21951   72279
15      550   18783   15840   19466  24446   79085
16      498   17684   15035   18912  24657   76786
17      541   17483   14134   18159  23585   73902
18      504   16709   13669   16632  21770   69284
19      551   16894   13073   16034  20253   66805
20      572   16237   12560   15295  19803   64467
21      568   16130   12001   14448  18462   61609
22      560   15635   11778   14116  17572   59661
23      617   16076   11563   13740  16882   58878
24      580   15763   11500   13528  16633   58004
25      594   15703   11531   13714  16428   57970
26      528   15864   11509   13794  16789   58484
27      609   16489   11816   13913  16967   59794
28      620   17161   12547   14355  17230   61913
29      539   17158   12639   14906  17909   63151
30      580   17217   13021   15408  17994   64220
31      524   17172   13077   15465  17966   64204
32      562   17109   12831   15428  17759   63689
33      530   16883   12928   15352  17927   63620
34      516   16389   12743   15047  17834   62529
35      528   16131   12166   14612  17632   61069
36      534   16067   12103   14353  17161   60218
37      570   15881   11866   14193  17113   59623
38      551   15462   12110   14314  17250   59687
39      515   15533   12109   14522  17895   60574
40      537   15361   12113   14372  17365   59748
41      546   15997   12273   14865  17993   61674
42      527   15267   12181   14730  17779   60484
43      487   15474   12239   15218  18613   62031
44      548   15624   12877   15429  18787   63265
45      549   16552   13413   16658  20253   67425
46      541   16627   13746   17097  20648   68659
47      544   16805   14440   17928  21808   71525
48      491   16977   14756   18183  22638   73045
49      482   17673   15616   19381  23756   76908
50      523   18584   16121   20598  25602   81428
51      490   18784   16725   20808  25493   82300
52      487   19391   16864   21092  25755   83589
53      521   19853   17598   21618  26031   85621

In [4]:
sundays2020 = ['2019-12-29',
               '2020-01-05',
               '2020-01-12',
               '2020-01-19',
               '2020-01-26',
               '2020-02-02',
               '2020-02-09',
               '2020-02-16',
               '2020-02-23',
               '2020-03-01',
               '2020-03-08',
               '2020-03-15',
               '2020-03-22',
               '2020-03-29',
               '2020-04-05',
               '2020-04-12',
               '2020-04-19',
               '2020-04-26',
               '2020-05-03',
               '2020-05-10',
               '2020-05-17',
               '2020-05-24',
               '2020-05-31',
               '2020-06-07',
               '2020-06-14',
               '2020-06-21',
               '2020-06-28',
               '2020-07-05',
               '2020-07-12',
               '2020-07-19',
               '2020-07-26',
               '2020-08-02',
               '2020-08-09',
               '2020-08-16',
               '2020-08-23',
               '2020-08-30',
               '2020-09-06',
               '2020-09-13',
               '2020-09-20',
               '2020-09-27',
               '2020-10-04',
               '2020-10-11',
               '2020-10-18',
               '2020-10-25',
               '2020-11-01',
               '2020-11-08',
               '2020-11-15',
               '2020-11-22',
               '2020-11-29',
               '2020-12-06',
               '2020-12-13',
               '2020-12-20',
               '2020-12-27']

dfUSA2020['Date'] = sundays2020
dfUSA2020['Date'] = pd.to_datetime(dfUSA2020['Date'])
dfUSA2020 = dfUSA2020.set_index('Date')



dfUSA2020

            D0_14  D15_64  D65_74  D75_84   D85p  DTotal
Date
2019-12-29    583   14858   11788   14544  18389   60162
2020-01-05    588   14624   12091   14723  18697   60723
2020-01-12    589   14406   11750   14262  18342   59349
2020-01-19    589   14298   11794   14403  18066   59150
2020-01-26    573   14203   11670   14145  18226   58817
2020-02-02    624   14547   11635   14445  18209   59460
2020-02-09    588   14259   11631   14359  17959   58796
2020-02-16    537   14337   11582   14341  18093   58890
2020-02-23    618   14500   11717   14440  18036   59311
2020-03-01    544   14657   11800   14557  18124   59682
2020-03-08    547   14335   11737   14174  17869   58662
2020-03-15    576   14514   11796   14633  17679   59198
2020-03-22    531   15346   12236   15559  19331   63003
2020-03-29    499   17659   14410   17760  21951   72279
2020-04-05    550   18783   15840   19466  24446   79085
2020-04-12    498   17684   15035   18912  24657   76786
2020-04-19    541   17483   14134   18159  23585   73902
2020-04-26    504   16709   13669   16632  21770   69284
2020-05-03    551   16894   13073   16034  20253   66805
2020-05-10    572   16237   12560   15295  19803   64467
2020-05-17    568   16130   12001   14448  18462   61609
2020-05-24    560   15635   11778   14116  17572   59661
2020-05-31    617   16076   11563   13740  16882   58878
2020-06-07    580   15763   11500   13528  16633   58004
2020-06-14    594   15703   11531   13714  16428   57970
2020-06-21    528   15864   11509   13794  16789   58484
2020-06-28    609   16489   11816   13913  16967   59794
2020-07-05    620   17161   12547   14355  17230   61913
2020-07-12    539   17158   12639   14906  17909   63151
2020-07-19    580   17217   13021   15408  17994   64220
2020-07-26    524   17172   13077   15465  17966   64204
2020-08-02    562   17109   12831   15428  17759   63689
2020-08-09    530   16883   12928   15352  17927   63620
2020-08-16    516   16389   12743   15047  17834   62529
2020-08-23    528   16131   12166   14612  17632   61069
2020-08-30    534   16067   12103   14353  17161   60218
2020-09-06    570   15881   11866   14193  17113   59623
2020-09-13    551   15462   12110   14314  17250   59687
2020-09-20    515   15533   12109   14522  17895   60574
2020-09-27    537   15361   12113   14372  17365   59748
2020-10-04    546   15997   12273   14865  17993   61674
2020-10-11    527   15267   12181   14730  17779   60484
2020-10-18    487   15474   12239   15218  18613   62031
2020-10-25    548   15624   12877   15429  18787   63265
2020-11-01    549   16552   13413   16658  20253   67425
2020-11-08    541   16627   13746   17097  20648   68659
2020-11-15    544   16805   14440   17928  21808   71525
2020-11-22    491   16977   14756   18183  22638   73045
2020-11-29    482   17673   15616   19381  23756   76908
2020-12-06    523   18584   16121   20598  25602   81428
2020-12-13    490   18784   16725   20808  25493   82300
2020-12-20    487   19391   16864   21092  25755   83589
2020-12-27    521   19853   17598   21618  26031   85621

In [5]:
dfUSA2020.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 53 entries, 2019-12-29 to 2020-12-27
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   D0_14   53 non-null     int32
 1   D15_64  53 non-null     int32
 2   D65_74  53 non-null     int32
 3   D75_84  53 non-null     int32
 4   D85p    53 non-null     int32
 5   DTotal  53 non-null     int32
dtypes: int32(6)
memory usage: 1.7 KB

In [6]:
dfTwitter = dfUSA2020.loc['2020-07-26':'2020-08-30']


dfTwitter

            D0_14  D15_64  D65_74  D75_84   D85p  DTotal
Date
2020-07-26    524   17172   13077   15465  17966   64204
2020-08-02    562   17109   12831   15428  17759   63689
2020-08-09    530   16883   12928   15352  17927   63620
2020-08-16    516   16389   12743   15047  17834   62529
2020-08-23    528   16131   12166   14612  17632   61069
2020-08-30    534   16067   12103   14353  17161   60218

In [7]:
dfTwitter = (dfTwitter.resample('d')
             .ffill()
             .div(7))
dfTwitter

,D0_14,D15_64,D65_74,D75_84,D85p,DTotal
Date,,,,,,
2020-07-26,74.857143,2453.142857,1868.142857,2209.285714,2566.571429,9172.000000
2020-07-27,74.857143,2453.142857,1868.142857,2209.285714,2566.571429,9172.000000
2020-07-28,74.857143,2453.142857,1868.142857,2209.285714,2566.571429,9172.000000
2020-07-29,74.857143,2453.142857,1868.142857,2209.285714,2566.571429,9172.000000
2020-07-30,74.857143,2453.142857,1868.142857,2209.285714,2566.571429,9172.000000
2020-07-31,74.857143,2453.142857,1868.142857,2209.285714,2566.571429,9172.000000
2020-08-01,74.857143,2453.142857,1868.142857,2209.285714,2566.571429,9172.000000
2020-08-02,80.285714,2444.142857,1833.000000,2204.000000,2537.000000,9098.428571
2020-08-03,80.285714,2444.142857,1833.000000,2204.000000,2537.000000,9098.428571
2020-08-04,80.285714,2444.142857,1833.000000,2204.000000,2537.000000,9098.428571
2020-08-05,80.285714,2444.142857,1833.000000,2204.000000,2537.000000,9098.428571
2020-08-06,80.285714,2444.142857,1833.000000,2204.000000,2537.000000,9098.428571
2020-08-07,80.285714,2444.142857,1833.000000,2204.000000,2537.000000,9098.428571
2020-08-08,80.285714,2444.142857,1833.000000,2204.000000,2537.000000,9098.428571
2020-08-09,75.714286,2411.857143,1846.857143,2193.142857,2561.000000,9088.571429
2020-08-10,75.714286,2411.857143,1846.857143,2193.142857,2561.000000,9088.571429
2020-08-11,75.714286,2411.857143,1846.857143,2193.142857,2561.000000,9088.571429
2020-08-12,75.714286,2411.857143,1846.857143,2193.142857,2561.000000,9088.571429
2020-08-13,75.714286,2411.857143,1846.857143,2193.142857,2561.000000,9088.571429
2020-08-14,75.714286,2411.857143,1846.857143,2193.142857,2561.000000,9088.571429
2020-08-15,75.714286,2411.857143,1846.857143,2193.142857,2561.000000,9088.571429
2020-08-16,73.714286,2341.285714,1820.428571,2149.571429,2547.714286,8932.714286
2020-08-17,73.714286,2341.285714,1820.428571,2149.571429,2547.714286,8932.714286
2020-08-18,73.714286,2341.285714,1820.428571,2149.571429,2547.714286,8932.714286
2020-08-19,73.714286,2341.285714,1820.428571,2149.571429,2547.714286,8932.714286
2020-08-20,73.714286,2341.285714,1820.428571,2149.571429,2547.714286,8932.714286
2020-08-21,73.714286,2341.285714,1820.428571,2149.571429,2547.714286,8932.714286
2020-08-22,73.714286,2341.285714,1820.428571,2149.571429,2547.714286,8932.714286
2020-08-23,75.428571,2304.428571,1738.000000,2087.428571,2518.857143,8724.142857
2020-08-24,75.428571,2304.428571,1738.000000,2087.428571,2518.857143,8724.142857
2020-08-25,75.428571,2304.428571,1738.000000,2087.428571,2518.857143,8724.142857
2020-08-26,75.428571,2304.428571,1738.000000,2087.428571,2518.857143,8724.142857
2020-08-27,75.428571,2304.428571,1738.000000,2087.428571,2518.857143,8724.142857
2020-08-28,75.428571,2304.428571,1738.000000,2087.428571,2518.857143,8724.142857
2020-08-29,75.428571,2304.428571,1738.000000,2087.428571,2518.857143,8724.142857
2020-08-30,76.285714,2295.285714,1729.000000,2050.428571,2451.571429,8602.571429

In [8]:
convert_dict2 = {'D0_14': int,
                 'D15_64': int,
                 'D65_74': int,
                 'D75_84': int,
                 'D85p': int,
                 'DTotal': int}

dfTwitter = dfTwitter.astype(convert_dict2) #convert columns to the data types in dictionary
dfTwitter

            D0_14  D15_64  D65_74  D75_84  D85p  DTotal
Date
2020-07-26     74    2453    1868    2209  2566    9172
2020-07-27     74    2453    1868    2209  2566    9172
2020-07-28     74    2453    1868    2209  2566    9172
2020-07-29     74    2453    1868    2209  2566    9172
2020-07-30     74    2453    1868    2209  2566    9172
2020-07-31     74    2453    1868    2209  2566    9172
2020-08-01     74    2453    1868    2209  2566    9172
2020-08-02     80    2444    1833    2204  2537    9098
2020-08-03     80    2444    1833    2204  2537    9098
2020-08-04     80    2444    1833    2204  2537    9098
2020-08-05     80    2444    1833    2204  2537    9098
2020-08-06     80    2444    1833    2204  2537    9098
2020-08-07     80    2444    1833    2204  2537    9098
2020-08-08     80    2444    1833    2204  2537    9098
2020-08-09     75    2411    1846    2193  2561    9088
2020-08-10     75    2411    1846    2193  2561    9088
2020-08-11     75    2411    1846    2193  2561    9088
2020-08-12     75    2411    1846    2193  2561    9088
2020-08-13     75    2411    1846    2193  2561    9088
2020-08-14     75    2411    1846    2193  2561    9088
2020-08-15     75    2411    1846    2193  2561    9088
2020-08-16     73    2341    1820    2149  2547    8932
2020-08-17     73    2341    1820    2149  2547    8932
2020-08-18     73    2341    1820    2149  2547    8932
2020-08-19     73    2341    1820    2149  2547    8932
2020-08-20     73    2341    1820    2149  2547    8932
2020-08-21     73    2341    1820    2149  2547    8932
2020-08-22     73    2341    1820    2149  2547    8932
2020-08-23     75    2304    1738    2087  2518    8724
2020-08-24     75    2304    1738    2087  2518    8724
2020-08-25     75    2304    1738    2087  2518    8724
2020-08-26     75    2304    1738    2087  2518    8724
2020-08-27     75    2304    1738    2087  2518    8724
2020-08-28     75    2304    1738    2087  2518    8724
2020-08-29     75    2304    1738    2087  2518    8724
2020-08-30     76    2295    1729    2050  2451    8602